<!DOCTYPE html>
<html>
<head>
  {% load static %}
	<title>Mycrobites</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<section class="up">
<div class="alertbox">
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
    <strong> {{ message }}</strong> 
    {% comment %} <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button> {% endcomment %}
  </div>
  </div>
  {% endfor %}
    {% endif %}
    <section class="Mycro-navbar-section" id="navbar-section">
    <div class="topnav">
      <div class="logo-with-name">    
      <img src="{% static 'images/logo.png' %}" width="50px" height="50px">
      <h1>MB</h1>
      </div>
      <div class="topnav-right">
        <a href="#bucket" id="nav-games">Games</a>
        <a href="#" id="nav-contactUS">Contact Us</a>
      </div>
    </div>
    </section>

    
    
    <section class="section1">
        <div class="mic-sec-1" id="sec1">
            <h2 class="mic-sec-1-text-1">making tommorow...</h2>
            <h1 class="mic-sec-1-text-2">Welcome to</h1>
            <h1 class="mic-sec-1-text-3">Mycrobites</h1>
        </div>
            <img src="{% static 'images/top.png' %}" class="top">
            <img src="{% static 'images/wings.png' %}" class="wings">
    </section>

  <section class="mic-sec-2" id="aboutus-sec">
    <div class="sec2-heading">
      <h1>ABOUT US</h1>
    </div>
    <div class="row1-sec2">
        <div class="industry-image">
            <img src="{% static 'images/industry.png' %}" class="" height="300px" width="250px">
        </div>       
        <div class="industry-text">
          <h1 style="color: #BB1313; font-weight: bolder; font-size: 1.6em;">Industrial Revolution</h1>
            <p>India is now prepared for industry 4.0 in which all the machines will be equipped with the ability to communicate not only with other machines but also with mankind. It is a modern upheaval that connects mankind, process and machines.</span>
        </div>
    </div>
    <div class="row2-sec2"> 
        <div class="girl-image-1">
          <img src="{% static 'images/girl.png' %}" height="300px" width="250px" style="display: block;">
        </div>      
        <div class="girl-text">
            <p>Coding involves attention, memory, math, logic and creativity and starting early can give your child a massive advantage</p><br><h1 style="color: #BB1313; font-weight: bolder; font-size: 1.6em; ">So what are you waiting for?</h1>
        </div>
        <div class="girl-image">
            <img src="{% static 'images/girl.png' %}" class="" height="300px" width="250px">
        </div>
    </div>
    <div class="row3-sec2">
        <div class="boy-image">
            <img src="{% static 'images/boy.png' %}" class="" height="300px" width="320px">
        </div>       
        <div class="boy-text">
          <h1 style="color: #BB1313; font-weight: bolder; font-size: 1.6em; ">Why mycrobites..!!??</h1>
            <p>Mycrobites is an incredibly personalized platform for teaching coding online to children from age group from 5-12 years at the comforts of your home.</p>
        </div>
    </div>
  </section>

  <main id="bucket">
  <section class="Mcyro-section-3">
		<div class="course-with-image" id="courses-section">
      <div class="peep">
          <img src="{% static 'images/peep.png' %}" class="peep-image">
      </div>
			<div class="courses-section-container">
				<h1 class="courses-heading">COURSES</h1>
				<div class="Grades">
  				<div class="flip-card">
    					<div class="flip-card-inner">
      					<div class="flip-card-front center">
        						<h1>Primary</h1>
        						<h1>Grade</h1>
      					</div>
      					<div class="flip-card-back center">
        						<h1 style="font-size: 0.6em;">Basic topic will be taught using basics of coding</h1>
        						<button type="button" class="btn btn-outline-dark">Learn More</button>
     						 </div>
    					</div>
  				</div>
  				<div class="flip-card">
    					<div class="flip-card-inner">
      					<div class="flip-card-front center">
        						<h1>Secondary</h1>
        						<h1>Grade</h1>
      					</div>
      					<div class="flip-card-back center">
        						<h1 style="font-size: 0.6em;">Coding algorithms will be used to teach the fundamental concepts</h1>
        						<button type="button" class="btn btn-outline-dark">Learn More</button>
     						 </div>
    					</div>
  				</div>
  				<div class="flip-card">
    					<div class="flip-card-inner">
      					<div class="flip-card-front center">
        						<h1>Tertiary</h1>
        						<h1>Grade</h1>
      					</div>
      					<div class="flip-card-back center">
        						<h1 style="font-size: 0.6em;">The important concepts of various subjects will be explained using coding fundamentals</h1>
        						<button type="button" class="btn btn-outline-dark">Learn More</button>
     						 </div>
    					</div>
  				</div>
				</div>
			</div>
		</div>
	</section>
</section>
</main>

  <div class="trans">
  </div>

	<section class="Mcyro-section-4" id="contact-sec">
    <div class="contact-us" >
    
      <div class="contactUS-container" >
        <h1 class="contactUS-heading">CONTACT US</h1>
        <div class="contactUS-text">
              <p>Feel like contacting us? Submit your queries here and we will get back to you as soon as possible.</p>
        

        </div>
      </div>
      <div class="contact-form">
      
        <form method="post">
          {% csrf_token %}
          <div class="form-text">
            <h3>Name</h3>
            <input type="text" name="name" id="name">
        </div>
        <div class="form-text">
            <h3>Email</h3>
            <input type="text" name="email" id="email">
        </div>
        <div class="form-text">
            <h3>Message</h3>
            <textarea class="form-control textarea" id="content" name="content" placeholder="Write your message..." rows="3"></textarea>
        </div>
        <input type="submit" name="" class="button" value="Send Message">
              <!-- <div class="form-group">
                  <label for="name">Name: </label>
                  <input type="text" class="form-control" name="name" id="name" aria-describedby="name">
              </div>
              <div class="form-group">
                  <label for="email">Email address:</label>
                  <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              
              <div class="form-group">
                  <label for="content">Describe your issue:</label>
                  <textarea class="form-control" name="content" id="content" cols="30" rows="3"></textarea>
              </div>
              
              <button type="submit" class="btn btn-primary">Submit</button> -->
      </form>
          
      </div>
    </div>
    <div class="footer">
      <div class="aboutcompany" style="margin-left: 3%;">
        <h3>About the Company</h3>
        <p class="abouttext">Mycrobites is platform to grow your mind in the field of coding by some really interesting activities.</p>
        <div class="icons" style="margin:0; padding: 0;">
        <i class="fas fa-map-marker-alt"></i>
        <p>Address - 35-C, Pocket-4, Mayur Vihar, Phase-1, Delhi-110091</p><br>
        <i class="fas fa-phone-alt"></i>
        <p>8826401291, 9811942894</p><br>
        <i class="fas fa-envelope"></i>
        <p><a href="mailto:Care.tech@mycrobites.com" target="_blank" style="font-size: 0.9em;">Care.mycrobites@gmail.com</a></p>
      </div> 
      </div>
        <div class="keepintouch">
            <h1>KEEP IN TOUCH</h1>
            <a href="https://www.facebook.com/104481688199372/posts/104499351530939/?substory_index=0&flite=scwspnss" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href="https://instagram.com/mycrobytes?igshid=15h3fwr4mz23j" target="_blank"><i class="fab fa-instagram-square fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/mycro-bites-955534201" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
        <div class="newsletter">
            <h1>Subscribe Newsletter</h1>
            <input type="email" class="form-control form" placeholder="Your email">
            <button type="button" class="btn btn-primary">Subscribe</button>
        </div>
    </div>
    </div>
  </section>

  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script> -->

  <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>