/* Reset and Common Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.micsec1-onload {
  top: 8%;
  display: inline;
  text-align: center;
  position: absolute;
}

.alert {
  background: #FFDE59
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* End of Reset and Common Styles */


/* nav bar styles */
.topnav {
  background-color: #ffbd59;
  display: flex;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  display: flex;
  /*if you don't want the searchbox then remove this flex-wrap also*/
  flex-wrap: wrap;
  margin-left: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #000;
  font-weight: bold;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
}

.logo-with-name {
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* girl with wings section and about us section */
.up {
  position: relative;
  z-index: 1;
  background-color: #fff;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

@font-face {
  font-family: myFirstFont;
  src: url('Helv Children.otf');
}


.mic-sec-1 {
  top: 3%;
  display: inline;
  text-align: center;
  position: absolute;
}

.mic-sec-1-text-1 {
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
}

.mic-sec-1-text-2,
.mic-sec-1-text-3 {
  font-family: myFirstFont;
  font-size: 50px;
}

.mic-sec-1-text-3 {
  color: #BB1313;
}


/*section1*/
.section1 {
  background-color: #FFDE59;
  height: 768px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 .top {
  z-index: 1;
  width: 30%;
  position: absolute;
  margin-top: 150px;
}

.section1 .wings {
  margin-top: 40px;
}

@media(max-width: 1024px) {
  .mic-sec-1 {
    top: 2%;
  }

  .mic-sec-1-text-1 {
    font-size: 30px;
  }

  .section1 {
    height: 550px;
  }

  .mic-sec-1-text-2,
  .mic-sec-1-text-3 {
    font-size: 30px;
  }

  .section1 .wings {
    width: 65%;
    margin-top: 90px;
  }

  .section1 .top {
    height: 10%;
    width: 30%;
    margin-top: 130px;
  }
}

.girl-image-1 {
  display: none;
}

@media(max-width: 1220px) {
  .girl-image-1 {
    display: block;
  }

  .girl-image {
    display: none;
  }
}

@media(max-width: 768px) {
  .section1 {
    height: 600px;
  }

  .section1 .wings {
    width: 100%;
    margin-top: 140px;
  }

  .section1 .top {
    height: 10%;
    width: 55%;
    margin-top: 150px;
  }
}

@media (max-width: 600px) {
  .mic-sec-1 {
    top: 3%;
  }

  .topnav-right {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .section1 .top {
    height: 8%;
  }
}

.mic-sec-2 {
  display: none;
}

.sec2-heading {
  font-family: 'Libre Franklin', sans-serif;
  color: #ff914d;
  text-align: center;
  margin: 70px 50px 20px;
}

.sec2-heading h1 {
  font-size: 50px;
}

.row1-sec2,
.row2-sec2,
.row3-sec2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 50px;
  margin: 0;
}

.boy-image,
.girl-image,
.industry-image {
  margin: 60px;

}

.boy-text,
.girl-text,
.industry-text {
  width: 700px;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

/* End of girl with wings section and about us section */


/*courses-section*/
.Mcyro-section-3 .course-with-image {
  display: none;
}

.course-with-image .peep {
  height: 240px;
  position: relative;
  display: flex;
  justify-content: center;
  top: 15px;
}

.course-with-image .peep .peep-image {
  position: absolute;
  height: 267px;
  width: 1025px;
}

.course-with-image .courses-section-container {
  height: 530px;
  background-color: #ffde59;
}

.courses-section-container .courses-heading {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 50px;
  padding-top: 40px;
  color: #ff914d;
  text-align: center;
}

.courses-section-container .Grades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Grades .flip-card {
  background-color: transparent;
  width: 310px;
  height: 300px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
  margin: 40px 25px;
}

.flip-card .flip-card-inner .flip-card-back .center .h1 {
  font-family: 'Open Sans', sans-serif;
}

/* This container is needed to position the front and back side */
.flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-inner .flip-card-front {
  background-color: #ff914d;
  color: black;
  border-radius: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 37px;
}

/* Style the back side */
.flip-card-inner .flip-card-back {
  background-color: #3abdc4;
  color: white;
  transform: rotateY(180deg);
  border-radius: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 37px;
}

/* End of courses section */


.trans {
  width: 100%;
  height: 50rem;
  background: transparent;
}


/*contactUS-section*/


.Mcyro-section-4 {
  z-index: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

.Mcyro-section-4 .contact-us {
  display: flex;
}

.contact-us .contactUS-container {
  height: 250px;
  width: 600px;
  margin: 50px;
  text-align: center;
}

a {
  color: black;
}

.contactUS-container .contactUS-heading {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 50px;
  padding-top: 20px;
  color: black;
}

.contactUS-container .contactUS-text {
  height: 150px;
  width: 550px;
  font-size: 30px;
  margin: 20px 35px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.contact-us .contact-form {
  background-color: #ffbd59;
  height: 410px;
  width: 750px;
  margin-top: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  box-shadow: 0.3rem 0.3rem 0.5rem #777;
  display: inline;
  justify-content: center;
  align-items: center;
}

.textarea {
  resize: none;
}

.contact-form .form-text {
  margin: 25px;
  color: black;
}

.contact-form .form-text input {
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 3px solid #fff;
  width: 100%;
}

.contact-form .button {
  font-family: 'Ubuntu', sans-serif;
  width: 92%;
  height: 50px;
  border: none;
  outline: none;
  background: #fff;
  color: black;
  border-radius: 5px;
  margin-left: 5%;
}

.contact-form .button:hover {
  background-color: #ffde59;
}

.contact-form h3 {
  font-size: 20px;
}

.Mcyro-section-4 .footer {
  height: 320px;
  background-color: #ff914d;
  display: flex;
  justify-content: center;
}

.footer .icons {
  font-family: 'Ubuntu', sans-serif;
  width: 250px;
  margin: 50px;
}

.footer .icons i {
  margin: 10px;
}

.footer .icons p {
  display: inline;
}

.footer .aboutcompany {
  width: 500px;
}

.footer .aboutcompany h3 {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 50px;
  margin-bottom: 10px;
  color: black;
}

.footer .aboutcompany .abouttext {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.footer .keepintouch {
  font-family: 'Ubuntu', sans-serif;
  width: 250px;
  margin: 55px 50px;
  font-size: 20px;
}

.footer .keepintouch i {
  margin: 5px;
}

.footer .keepintouch h1 {
  font-size: 30px;
  margin: 0;
}

.footer .newsletter {
  width: 250px;
  margin: 40px;
}

.footer .newsletter h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
}

.footer .newsletter input {
  margin-bottom: 10px;
}

/*End of contactUS-section*/
@media(max-width: 1100px) {
  .course-with-image .courses-section-container {
    height: 100%;
  }

  .course-with-image .peep {
    height: 165px;
  }

  .course-with-image .peep .peep-image {
    height: 180px;
    width: 630px;
  }

  .contact-us .contactUS-container {
    height: 280px;
    width: 500px;
  }

  .contactUS-container .contactUS-text {
    height: 180px;
    width: 450px;
  }

  .contact-us .contact-form {
    margin-right: 10px;
  }

  .contact-form .button {
    width: 88%;
  }

  .footer .icons {
    margin: 30px 50px 50px;
  }

  .footer .icons p {
    display: inline-block;
  }

  .footer .keepintouch i {
    font-size: 50px;
  }
}

@media(max-width: 950px) {
  .contact-us .contactUS-container {
    height: 320px;
    width: 400px;
  }

  .contactUS-container .contactUS-heading {
    font-size: 40px;
  }

  .contactUS-container .contactUS-text {
    height: 220px;
    width: 350px;
  }

  .footer .icons i {
    margin: 5px;
  }

  .footer .keepintouch {
    margin: 50px 40px;
    font-size: 20px;
  }

  .footer .keepintouch i {
    font-size: 45px;
  }
}

@media(max-width: 850px) {
  .contact-us .contactUS-container {
    height: 390px;
    width: 300px;
    margin: 10px;
  }

  .contactUS-container .contactUS-text {
    height: 310px;
    width: 250px;
  }

  .contact-form .button {
    margin-left: 5%;
  }

  .footer .aboutcompany .abouttext {
    font-size: 12px;
  }

  .footer .aboutcompany h3 {
    margin-top: 40px;
    font-size: 20px;
  }

  .footer .keepintouch {
    margin: 40px;
    font-size: 20px;
  }

  .footer .keepintouch h1 {
    font-size: 20px;
  }

  .footer .keepintouch i {
    font-size: 30px;
    margin: 2px;
  }
}

@media(max-width: 750px) {
  .footer {
    display: block;
    align-items: flex-start;
  }

  .footer .icons {
    margin: 40px 10px;
  }

  .footer .keepintouch {
    margin: 40px 10px;
  }

  .footer .newsletter {
    margin: 40px 10px;
  }

  .footer .newsletter h1 {
    font-size: 20px;
  }

  .contact-form .button {
    margin-left: 10%;
  }
}

@media(max-width: 650px) {
  .contact-us .contactUS-container {
    margin: 20px 0 0 0;
  }

  .contactUS-container .contactUS-heading {
    font-size: 30px;
  }

  .contactUS-container .contactUS-text p {
    font-size: 20px;
  }

  .contact-form .button {
    width: 84%;
    margin-left: 10%;
  }

  .footer {
    display: block;
    align-items: flex-start;
  }
}

@media(max-width: 600px) {
  .course-with-image .courses-section-container {
    height: 100%;
  }

  .course-with-image .peep {
    height: 130px;
  }

  .course-with-image .peep .peep-image {
    height: 140px;
    width: 450px;
  }

}

@media(max-width: 550px) {
  .contact-us .contactUS-container {
    height: 390px;
    width: 200px;
  }

  .contactUS-container .contactUS-heading {
    font-size: 20px;
  }

  .contactUS-container .contactUS-text {
    width: 150px;
  }

  .contact-form .button {
    width: 80%;
  }

  .contact-form {
    height: 300px;
  }
}

@media(max-height: 650px) {
  .Mcyro-section-4 .footer {
    height: 200px;
  }

  .footer .aboutcompany h3 {
    margin-top: 10px;
  }

  .footer .icons p {
    margin: 0;
  }
}